<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.gofishing.mapper.ProductExtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.itsource.product.domain.ProductExt">
        <id column="id" property="id" />
        <result column="description" property="description" />
        <result column="richContent" property="richContent" />
        <result column="productId" property="productId" />
    </resultMap>
    <select id="findByProductId" resultType="cn.itsource.product.domain.ProductExt" parameterType="java.lang.Long">
        select * from t_product_ext where productId = #{id}
    </select>

</mapper>
